# Python
__pycache__/
*.pyc

# VSCode
.vscode/
/data/traning_alphafold_predictor/

/.env
data/resultados
rutas.env
/notebooks/PyRosetta4.Release.python310.linux.release-387.tar.bz2
/outputs
/notebooks/MonitorRecursosCallback.py